@font-face {
  font-family: Poppins-B;
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins-R;
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins-L;
  src: url("../fonts/Poppins-Light.ttf");
}
body {
  overflow-x:hidden;
}

.header {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.header__logo img {
  width: 70%;
}
.nav ul li a {
  text-decoration: none;
  color: #3c3c3c;
  padding: 0 20px;
}
.nav ul li a:hover {
  color: #5897fb;
}
.nav ul li {
  float: left;
  padding: 17px;
  list-style: none;
  line-height: 23px;
  font-size: 18px;
}
.header__action {
  line-height: 63px;
  font-size: 20px;
}
.header__action .icon {
  padding: 0 10px;
}
.header__action .icon:hover {
  color: #5897fb;
  cursor: pointer;
}
.sub-menu {
  display: none;
  position: absolute;
}
.nav li {
  position: relative;
}
.sub-menu {
  margin-left: -33px;
  padding-bottom: 15px;
  left: 0;
  width: 235px;
  background-color: #fff;
}
.sub-menu ul li a {
  font-size: 19px;
}
.sub-menu ul li {
  padding-bottom: 2px;
}
.nav li:hover .sub-menu {
  display: block;
  z-index: 999999999;
}
.slider-img {
  float: right;
  margin-right: 100px;
}
.carousel-caption h1 {
  font-size: 25px;
  color: #222222;
  font-family: Poppins-B;
}
.carousel-caption h2 {
  font-size: 45px;
  color: #222222;
  font-family: Poppins-B;
  margin-bottom: -5px;
  margin-top: 20px;
}
.carousel-caption h3 {
  font-size: 50px;
  color: #5897fb;
  font-family: Poppins-B;
}
.carousel-caption p {
  font-size: 16px;
  color: #555454;
  font-family: Poppins-R;
}
.carousel-caption {
  text-align: left;
  margin-bottom: 100px;
  margin-left: -60px;
}
.carousel-inner {
  background-color: #f4f4f4;
  box-sizing: border-box;
  overflow: hidden;
}
.carousel-indicators li {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 1;
  margin: 0 5px;
  border: 1px solid #ddd;
}
.carousel-indicators .active {
  background-color: #5897fb;
  width: 25px;
  border-radius: 15px;
}
.carousel-control-prev i,
.carousel-control-next i {
  font-size: 30px;
}
.carousel-control-prev,
.carousel-control-next {
  text-decoration: none;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #5897fb;
  border-radius: 50%;
}
.carousel-control-next-icon {
  margin-right: -95px;
  width: 40px;
  height: 40px;
}
.carousel-control-prev-icon {
  margin-left: -95px;
  width: 40px;
  height: 40px;
}
.container-fluid {
  padding: 0;
}
.btn-header {
  border-radius: 100px;
  border: none;
  background-color: #5897fb;
  padding: 10px 50px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  margin-top: 15px;
}
.menu-toggle {
  display: none;
}
.menu-toggle {
  line-height: 63px;
  font-size: 30px;
}
.service {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 150px;
}
.service__icon {
  font-size: 60px;
  color: #5897fb;
}
.service__content {
  margin-top: 23px;
  padding-left: 15px;
}
.service__content h2 {
  color: #242424;
  font-size: 20px;
  font-family: Poppins-B;
  margin-bottom: 5px;
}
.service__content p {
  font-size: 15px;
  font-family: Poppins-L;
  line-height: 24px;
  color: #90908e;
}
.service__icon:hover {
  transform: translate(0px, -10px);
  transition: 0.3s ease-in;
}
.slider__popular {
  width: 45%;
  background-color: #fff;
}
.popular__content h1 {
  font-family: Poppins-R;
  font-size: 14px;
  color: #222222;
}
.popular__item span {
  color: #5897fb;
}
.popular__item h1 {
  font-weight: 500;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-left: 24px;
}
.popular__content:hover {
  transform: translate(0px, -13px);
  transition: 0.4s ease-in;
}
.popular__content {
  margin-bottom: 60px;
  text-align: center;
  margin-left: 25px;
  margin-right: -190px;
}
.popular__content h1 {
  padding-top: 20px;
  color: #4f5d77;
  font-size: 16px;
  padding-bottom: 30px;
}
.popular {
  background-color: #f4f4f4;
  position: relative;
}
.owl-nav {
  font-size: 50px;
}
.owl-next span {
  font-size: 45px;
  color: #5897fb;
}
.owl-prev span {
  font-size: 45px;
  color: #5897fb;
}
.owl-carousel .owl-nav button.owl-next {
  height: 0;
}
.owl-carousel .owl-nav button.owl-prev {
  height: 0;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  position: absolute;
}
.owl-carousel .owl-prev {
  top: -80px;
  left: 1240px;
  outline: none;
}
.owl-carousel .owl-next {
  right: 24px;
  top: -80px;
  outline: none;
}
.banner {
  margin-top: 50px;
  margin-bottom: 50px;
}
.banner_item1 {
  background-image: url(../img/banner-1.png);
  background-size: cover;
  width: 32%;
  height: 150px;
  border-radius: 10px;
}
.banner_item2 {
  background-image: url(../img/banner-2.png);
  background-size: cover;
  width: 32%;
  margin: 0 15px;
  height: 150px;
  border-radius: 10px;
}
.banner_item3 {
  background-image: url(../img/banner-3.png);
  background-size: cover;
  width: 32%;
  height: 150px;
  border-radius: 10px;
}
.banner__content p {
  font-size: 13px;
  color: #90908e;
  padding-bottom: 0px;
  margin-bottom: 0;
  margin-top: 23px;
}
.banner__content h2 {
  font-size: 18px;
  color: #222;
  font-weight: 500;
}
.banner__content h3 {
  font-size: 13px;
  color: #0d6efd;
  margin-top: 20px;
  cursor: pointer;
}
.banner__content {
  margin-left: 18px;
  margin-top: 10px;
}
.featured__img img:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in;
  cursor: pointer;
}
.featured__content h3:hover,
.featured__content h2:hover {
  color: #5897fb;
  cursor: pointer;
}
.featured {
  border-radius: 10px;
  border: 1px solid #e9e6e6;
  margin: 15px 10px;
  width: 23%;
}
.featured__line {
  border: 0.5px solid #f1eeee;
  width: 92%;
  margin: 10px 0 15px 0;
}
.featured__content {
  margin-left: 10px;
}
.featured__content h2 {
  color: #90908e;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin-top: 10px;
}
.featured__content h3 {
  font-size: 15px;
  font-weight: 400;
}
.featured__content h4 {
  font-size: 14px;
  font-weight: 400;
}
.featured__icon {
  font-size: 14px;
  letter-spacing: 2px;
  color: #ffb300;
}
.featured__content-price span {
  font-size: 14px;
  font-weight: 400;
  color: #90908e;
  text-decoration: line-through;
}
.featured__content-price {
  font-size: 18px;
  font-weight: 700;
  color: #5897fb;
}
.services {
  margin-bottom: 20px;
}
.repair__content {
  margin-top: 50px;
  margin-left: 15px;
}
.repair__services {
  background-image: url(../img/banner-4.png);
  background-size: cover;
  height: 260px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.repair__content p {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding-top: 20px;
}
.repair__content h3,
.repair__content h4 {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}
.repair__content h3 {
  margin-top: -10px;
}
.repair__content h4 {
  margin-top: -10px;
  margin-bottom: 20px;
}
.repair__content button {
  color: #fff;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 24px;
  background: linear-gradient(90deg, #3256e0 0%, #3286e0 100%);
  border: none;
}
.repair__content button:hover {
  background: #fff;
  color: #5897fb;
}
.deal {
  background-image: url(../img/menu-banner-7.jpg);
  background-size: cover;
  height: 400px;
  margin-bottom: 50px;
  margin-right: 20px;
  width: 49%;
}
.deal-2 {
  background-image: url(../img/menu-banner-8.jpg);
  background-size: cover;
  height: 400px;
  margin-bottom: 50px;
  width: 49%;
}
.deal-2 .deal__content h2 {
  color: #3ed092;
}
.deal__content {
  margin-left: 30px;
  margin-top: 40px;
}
.deal__content h2 {
  font-weight: 500;
  font-size: 20px;
  color: #5897fb;
}
.deal__content h3 {
  color: #242424;
  font-weight: 400;
  font-size: 15px;
  margin-top: -5px;
}
.deal__content h4 {
  font-size: 18px;
  color: #111111;
  font-family: Poppins-R;
  margin: 20px 0;
  cursor: pointer;
}
.deal__content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 2px;
  color: #4f5d77;
  margin-top: 20px;
}
.deal__content button {
  background: linear-gradient(90deg, #3256e0 0%, #3286e0 100%);
  color: #fff;
  border-radius: 50px;
  font-size: 13px;
  padding: 7px 24px;
  border: none;
  font-weight: 500;
  margin-top: 15px;
}
.deal__content button:hover {
  transform: translate(0px, -10px);
  transition: 0.3s ease-in;
}
.deal__price {
  font-size: 20px;
  font-weight: 500;
  color: #ff3551;
}
.deal__price span {
  font-family: Poppins-R;
  font-size: 20px;
  color: #cccccc;
  text-decoration: line-through;
}
#timer {
  width: 540px;
  margin-left: -10px;
}
#timer ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}
#timer ul li {
  float: left;
  margin: 10px;
}
#timer span {
  display: block;
  font-size: 12px;
  color: #fff;
}

#days,
#hours,
#minutes,
#seconds {
  font-size: 18px;
  font-family: Poppins-R;
  color: #fff;
  width: 48px;
  height: 48px;
  padding-top: 1px;
  background-color: #518ff1;
  float: left;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
}
#timer2 {
  width: 540px;
  margin-left: -10px;
}
#timer2 ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}
#timer2 ul li {
  float: left;
  margin: 10px;
}
#timer2 span {
  display: block;
  font-size: 12px;
  color: #fff;
}
#day,
#hour,
#minute,
#second {
  font-size: 18px;
  font-family: Poppins-R;
  color: #fff;
  width: 48px;
  height: 48px;
  padding-top: 1px;
  background-color: #518ff1;
  float: left;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
}
.brand {
  margin-top: -30px;
  margin-bottom: 40px;
}
.brand__item h1 {
  font-size: 22px;
}
.brand__item span {
  color: #5897fb;
}
.brand__item h1 {
  font-weight: 500;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-left: 120px;
}
.brand__slider img {
  width: 90%;
}
.brand__slider img:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in;
}
.new-trending {
  margin-bottom: 40px;
  margin-top: 70px;
}
.new__title h1 {
  font-size: 30px;
  color: #222;
}
.new__content {
  margin-top: 15px;
}
.new__content h2 {
  font-size: 13px;
  color: #ff3551;
  cursor: pointer;
}
.new__content h3 {
  font-size: 18px;
  color: #111111;
  width: 350px;
  margin-top: -5px;
  cursor: pointer;
}
.new__content p {
  font-size: 12px;
  color: #4f5d77;
  margin-top: 15px;
}
.new-2 {
  margin-top: 20px;
}
.new__content img {
  border-radius: 10%;
}
.new-2 h2 {
  color: #18a1b7;
}
.trending {
  width: 51%;
}
.trending-1 {
  background-image: url(../img/banner-1-newtrending.jpg);
  background-size: cover;
  border-radius: 3%;
}
.trending-2 {
  margin-left: 10px;
}
.trending__item-1 {
  background-image: url(../img/banner-2-new.jpg);
  background-size: cover;
  margin-bottom: 20px;
  border-radius: 3%;
}
.trending__item-2 {
  background-image: url(../img/banner-3-new.jpg);
  background-size: cover;
  border-radius: 3%;
}
.new__title .line {
  border: 0.5px solid #f1eeee;
  width: 100%;
  margin: 10px 0 15px 0;
}
.new__content--tech,
.new__content--telecom {
  margin-top: 10px;
  margin-left: -8px;
}
.trending-1-text {
  margin-top: 80px;
  margin-left: 15px;
}
.trending-1 h1 {
  font-size: 13px;
  color: #90908e;
  font-family: Poppins-R;
}
.trending-1 h2 {
  font-size: 18px;
  color: #222222;
  font-weight: 600;
  margin-top: -5px;
  margin-bottom: 15px;
  cursor: pointer;
}
.trending-1 p {
  font-size: 13px;
  color: #0d6efd;
  cursor: pointer;
}
.trending__item-1 h1 {
  font-size: 13px;
  color: #90908e;
  font-family: Poppins-R;
}
.trending__item-1 h2 {
  font-size: 18px;
  color: #222222;
  font-weight: 600;
  margin-top: -5px;
  margin-bottom: 15px;
  cursor: pointer;
}
.trending__item-1 p {
  font-size: 13px;
  color: #0d6efd;
  cursor: pointer;
}
.trending__item-2 h1 {
  font-size: 13px;
  color: #90908e;
  font-family: Poppins-R;
}
.trending__item-2 h2 {
  font-size: 18px;
  color: #222222;
  font-weight: 600;
  margin-top: -5px;
  margin-bottom: 15px;
  cursor: pointer;
}
.trending__item-2 p {
  font-size: 13px;
  color: #0d6efd;
  cursor: pointer;
}
.trending__item-text1 {
  margin-top: 40px;
  margin-left: 20px;
}
.trending__item-text2 {
  margin-top: 40px;
  margin-left: 170px;
}
.new__content--tech h3:hover,
.new__content--telecom h3:hover {
  color: #5897fb;
}
.trending-1-text h2:hover,
.trending__item-text1 h2:hover,
.trending__item-text2 h2:hover {
  transform: translate(10px);
  transition: 0.3s ease-in;
}
.banner__today {
  background-image: url(../img/banner-888.jpg);
  background-size: cover;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.banner__today--content {
  margin-top: 65px;
  margin-left: 30px;
}
.banner__today--content h3 {
  font-size: 16px;
  color: #90908e;
}
.banner__today--content h4 {
  font-size: 30px;
  color: #585858;
}
.selling__banner--content {
  margin-top: 120px;
  margin-left: 15px;
}
.selling__banner--content h1 {
  font-size: 13px;
  color: #90908e;
  font-family: Poppins-R;
}
.selling__banner--content h2 {
  font-size: 18px;
  color: #222222;
  font-weight: 600;
  margin-top: -5px;
  margin-bottom: 15px;
  cursor: pointer;
}
.selling__banner--content p {
  font-size: 13px;
  color: #0d6efd;
  cursor: pointer;
}
.selling__banner {
  background-image: url(../img/banner-music-zone.jpg);
  background-size: cover;
  border-radius: 3%;
  height: 350px;
}
.selling__banner--content h2:hover {
  transform: translate(10px);
  transition: 0.3s ease-in;
}
.selling__deal--title .line {
  border: 0.5px solid #f1eeee;
  width: 100%;
}
.selling__deal--title .line-2 {
  height: 2px;
  width: 36%;
  background-color: #5897fb;
}
.selling__deal--title h2 {
  font-size: 22px;
  color: #363636;
  font-weight: 600;
  margin-bottom: 15px;
}
.deal__content--img {
  width: 35%;
  height: 35%;
  cursor: pointer;
}
.deal__text h2 {
  font-size: 15px;
  color: #5f5e5e;
  width: 120%;
  cursor: pointer;
}
.deal__text p {
  font-size: 18px;
  font-weight: 500;
  color: #5897fb;
  cursor: pointer;
}
.deal__text span {
  font-family: Poppins-R;
  font-size: 14px;
  color: #cccccc;
  text-decoration: line-through;
}
.selling__deal--content {
  margin-top: 20px;
  margin-left: 1px;
}
.deal__content--img {
  margin-top: 6px;
}
.subscribe-text {
  padding-left: 0px;
}
.subscribe-text p {
  font-size: 17px;
  font-family: Poppins-R;
  color: #fff;
  margin-top: 24px;
  margin-bottom: 10px;
}
.subscribe-email input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding-left: 10px;
  outline: none;
  box-sizing: border-box;
  margin-top: 27px;
  margin-bottom: 10px;
}
.subscribe-button button {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding-left: 10px;
  outline: none;
  box-sizing: border-box;
  font-size: 15px;
  font-family: Poppins-R;
  background-color: #222222;
  color: #fff;
  border: none;
  margin-top: 27px;
  margin-bottom: 10px;
}
.subscribe-button,
.subscribe-email {
  padding: 0;
}
.bg-subscribe {
  background-color: #5987fb;
  height: 100px;
  margin-bottom: 40px;
}
.subscribe-content {
  margin: 50px auto;
}
.icon-plane {
  font-size: 42px;
  color: #fff;
  padding: 0 40px;
  margin-top: 15px;
}
::placeholder {
  font-size: 14px;
  padding-left: 10px;
  font-family: Poppins-R;
}
.subscribe-button button:hover {
  background-color: #5897fb;
  color: #fff;
  transition: 0.2s ease-in;
}
.footer {
  margin-bottom: 50px;
}
.footer__logo img {
  width: 50%;
}
.footer__contact--item span {
  color: #4f5d77;
  font-weight: 700;
}
.footer__contact--item p {
  margin-top: 20px;
  font-size: 22px;
  color: #90908e;
  font-weight: 600;
}
.footer__contact--item h1 {
  margin-top: 20px;
  font-size: 22px;
  color: #90908e;
  font-weight: 600;
}
.footer__contact--item h2 {
  margin-top: 15px;
  font-size: 16px;
  color: #4f5d77;
  font-weight: 400;
}
.footer__contact--item h3 {
  font-size: 16px;
  color: #4f5d77;
  font-weight: 400;
}
.footer__contact--item h4 {
  font-size: 16px;
  color: #4f5d77;
  font-weight: 400;
}
.footer__contact--icon ul {
  list-style: none;
  padding-left: 0;
}
.footer__contact--icon ul li {
  display: inline-block;
}
.footer__contact--icon ul li a i {
  width: 40px;
  height: 40px;
  font-size: 25px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  margin-right: 8px;
  border-radius: 5px;
}
.footer__contact--icon ul li:nth-child(1) a i {
  background-color: #3b5998;
}
.footer__contact--icon ul li:nth-child(2) a i {
  background-color: #00acee;
}
.footer__contact--icon ul li:nth-child(3) a i {
  background-color: #f77737;
}
.footer__contact--icon ul li:nth-child(4) a i {
  background-color: #e1306c;
}
.footer__about {
  margin-top: 18px;
}
.footer__about ul {
  padding-left: 0;
  margin-top: 30px;
  font-size: 15px;
  font-weight: italic;
  color: #111;
}
.footer__about ul li {
  margin-top: 20px;
}
.footer__about h1 {
  font-size: 22px;
  color: #222222;
}
.footer__account {
  margin-top: 18px;
}
.footer__account ul {
  padding-left: 0;
  margin-top: 30px;
  font-size: 15px;
  font-weight: italic;
  color: #111;
}
.footer__account ul li:hover {
  color: #5987fb;
  cursor: pointer;
  transform: translate(10px);
  transition: 0.4s ease-in;
}
.footer__about ul li:hover {
  color: #5987fb;
  cursor: pointer;
  transform: translate(10px);
  transition: 0.4s ease-in;
}
.footer__account ul li {
  margin-top: 20px;
}
.footer__account h1 {
  font-size: 22px;
  color: #222222;
}
.footer__download {
  margin-top: 9px;
}
.footer__download--content h1 {
  font-size: 22px;
  color: #222222;
  margin-top: 10px;
}
.footer__download--content p {
  font-size: 16px;
  color: #222222;
  margin-top: 25px;
}
.footer__download--img {
  margin-top: 20px;
}
.footer__img--1:hover,
.footer__img--2:hover {
  transform: translate(0px, -10px);
  transition: 0.3s ease-in;
}
.footer__img--1 {
  width: 43%;
  padding-left: 0;
  border: 1px solid #ccc;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.footer__img--2 {
  width: 43%;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}
.footer__download--payment h1 {
  font-size: 16px;
  color: #111;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1400px) {
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) /*ipad pro*/ {
  .nav ul li {
    padding: 1px;
    line-height: 57px;
  }
  .header__logo {
    margin-left: 10px;
  }
  .header {
    justify-content: space-evenly;
  }
  .header__action {
    line-height: 65px;
  }
  .slider-img {
    margin-right: 50px;
  }
  .slider-img img {
    width: 70%;
    float: right;
  }
  .carousel-caption {
    width: 80%;
    margin-bottom: 0;
    margin-left: -60px;
  }
  .carousel-caption h1 {
    font-size: 24px;
  }
  .carousel-caption h2 {
    font-size: 40px;
    margin-bottom: 7px;
  }
  .carousel-caption h3 {
    font-size: 50px;
  }
  .carousel-caption p {
    font-size: 15px;
  }
  .btn-header {
    font-size: 14px;
    padding: 8px 30px;
    margin-top: 6px;
    margin-bottom: 35px;
  }
  .carousel-indicators li {
    width: 8px;
    height: 8px;
  }
  .carousel-control-next-icon {
    margin-right: -65px;
    width: 40px;
    height: 40px;
  }
  .carousel-control-prev-icon {
    margin-right: -45px;
    width: 40px;
    height: 40px;
  }
  .service {
    margin-left: 45px;
  }
  .service__content {
    padding-left: 30px;
  }
  .service__content h2 {
    font-size: 16px;
  }
  .service__content p {
    font-size: 12px;
  }
  .owl-carousel .owl-prev {
    top: -80px;
    left: 890px;
  }
  .banner_item1,
  .banner_item2,
  .banner_item3 {
    width: 32%;
  }
  .banner {
    margin-left: 2px;
  }
  .featured {
    margin: 12px 14px;
    width: 22%;
  }
  .deal,
  .deal-2 {
    width: 470px;
  }
  #timer2 ul li,
  #timer ul li {
    margin: 9px;
  }
  .brand__item h1 {
    margin-left: 30px;
  }
  .new__content h3 {
    width: 300px;
  }
  .trending-2 {
    margin-left: 5px;
  }
  .trending__item-1 {
    margin-bottom: 15px;
  }
  .deal__text p {
    font-size: 16px;
  }
  .deal__content--img {
    width: 40%;
    height: 40%;
    margin-top: 15px;
  }
  .icon-plane {
    margin-left: -25px;
  }
  .subscribe-text {
    padding-left: 15px;
  }
  .trending__item-text2 {
    margin-top: 30px;
    margin-left: 135px;
  }
  .footer__img--1 {
    width: 60%;
    margin-bottom: 15px;
  }
  .footer__img--2 {
    width: 60%;
  }
}
@media only screen and (min-width: 740px) and (max-width: 1023px) /*Tablet + Ipad*/ {
  .nav ul {
    padding-left: 0;
  }
  .nav ul li {
    padding: 10px;
  }
  .nav ul li a {
    padding: 0;
    font-size: 16px;
  }
  .header__logo img {
    width: 100%;
  }
  .header__logo {
    width: 23%;
  }
  .header__action {
    font-size: 16px;
    line-height: 50px;
    margin-left: -15px;
  }
  .slider-img {
    margin-right: 50px;
  }
  .slider-img img {
    width: 50%;
    float: right;
  }
  .carousel-caption {
    width: 50%;
    margin-bottom: -15px;
    margin-left: -10px;
  }
  .carousel-caption h1 {
    font-size: 16px;
  }
  .carousel-caption h2 {
    font-size: 27px;
    margin-bottom: 7px;
  }
  .carousel-caption h3 {
    font-size: 30px;
  }
  .carousel-caption p {
    font-size: 12px;
  }
  .btn-header {
    font-size: 14px;
    padding: 8px 30px;
    margin-top: 6px;
    margin-bottom: 15px;
  }
  .carousel-indicators li {
    width: 8px;
    height: 8px;
  }
  .carousel-control-next-icon {
    margin-right: -35px;
    width: 30px;
    height: 30px;
  }
  .carousel-control-prev-icon {
    margin-right: -75px;
    width: 30px;
    height: 30px;
  }
  .service {
    margin-left: 10px;
  }
  .service__content {
    margin-top: 20px;
    padding-left: 15px;
  }
  .service__content h2 {
    font-size: 18px;
  }
  .service__content p {
    font-size: 14px;
  }
  .service__icon {
    font-size: 50px;
  }
  .service__item {
    margin-right: 30px;
    margin-left: 70px;
  }
  .owl-carousel .owl-prev {
    top: -80px;
    left: 630px;
  }
  .owl-carousel .owl-next {
    right: 30px;
    top: -80px;
  }
  .banner_item1,
  .banner_item2,
  .banner_item3 {
    width: 47%;
  }
  .banner_item3 {
    margin-top: 20px;
    margin-left: 13px;
  }
  .banner_item1 {
    margin-left: 13px;
  }
  .banner__content p {
    font-size: 12px;
  }
  .banner__content h2 {
    font-size: 16px;
  }
  .featured {
    margin: 15px 12px;
    width: 30%;
  }
  .featured__img {
    width: 100%;
  }
  .deal,
  .deal-2 {
    width: 100%;
  }
  .deal-2 {
    margin-top: -25px;
  }
  .brand__item h1 {
    margin-left: 30px;
  }
  .brand__slider img {
    width: 100%;
  }
  .new {
    width: 100%;
  }
  .trending {
    width: 100%;
    margin-top: 25px;
    margin-left: 3px;
    height: 380px;
  }
  .trending-1-text {
    margin-left: 30px;
  }
  .trending__item-text1 {
    margin-top: 40px;
  }
  .trending__item-text2 {
    margin-top: 40px;
    margin-left: 170px;
  }
  .bg-subscribe {
    height: 210px;
  }
  .subscribe-email input {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .subscribe-button button {
    width: 20%;
    margin-top: 13px;
  }
  .footer__logo {
    width: 50%;
  }
}
@media screen and (max-width: 576px) /*Mobile*/ {
  .menu-toggle {
    display: block;
    line-height: 52px;
    margin-top: 6px;
  }
  .header__logo img {
    padding-left: 10px;
  }
  .nav ul {
    padding-top: 30px;
  }
  .header__action {
    display: none;
  }
  #menu {
    display: none;
    padding-left: 25px;
  }
  #toggle {
    margin-right: 20px;
  }
  .slider-img img {
    width: 80%;
    float: right;
  }
  .slider-img {
    margin-top: 250px;
    margin-right: 6px;
    width: 115%;
  }
  .carousel-caption {
    text-align: center;
    margin-left: 0;
    margin-bottom: 205px;
  }
  .carousel-caption h1 {
    font-size: 16px;
  }
  .carousel-caption h2 {
    font-size: 30px;
    margin-bottom: 7px;
  }
  .carousel-caption h3 {
    font-size: 32px;
  }
  .carousel-caption p {
    font-size: 14px;
  }
  .btn-header {
    font-size: 14px;
    padding: 8px 22px;
    margin-top: 6px;
    margin-bottom: 62px;
  }
  .carousel-indicators .active {
    width: 20px;
  }
  .service__item {
    margin-left: -100px;
  }
  .owl-carousel .owl-next {
    right: 15px;
  }
  .owl-carousel .owl-prev {
    top: -80px;
    left: 330px;
  }
  .popular__content {
    margin-left: 19px;
    margin-right: -170px;
  }
  .popular__item h1 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .banner_item1,
  .banner_item2,
  .banner_item3 {
    width: 350px;
    margin-left: 13px;
    margin-bottom: 15px;
  }
  .featured {
    margin: 15px 20px;
    width: 90%;
  }
  .repair__services {
    height: 290px;
  }
  .banner {
    margin-left: 2px;
  }
  .brand__item h1 {
    margin-left: 20px;
  }
  .brand__slider {
    text-align: center;
    margin-bottom: 15px;
  }
  .new {
    margin-left: 10px;
  }
  .new__content--tech {
    margin-left: 5px;
  }
  .new__content--telecom {
    margin-left: 5px;
  }
  .trending {
    width: 100%;
  }
  .trending-1 {
    margin-left: 12px;
    margin-bottom: 20px;
    height: 380px;
  }
  .trending-1-text {
    margin-left: 20px;
    margin-top: 70px;
  }
  .trending-2 {
    padding: 0;
  }
  .trending__item-text2 {
    margin-left: 175px;
  }
  .banner__today--content {
    margin-top: 50px;
  }
  .banner__today--content h4 {
    font-size: 24px;
  }
  .banner__today--content h3 {
    font-size: 14px;
  }
  .deal,
  .deal-2 {
    width: 100%;
  }
  .selling__banner {
    width: 90%;
    margin-left: 20px;
  }
  .selling__deal {
    margin-top: 20px;
  }
  .selling__deal--content {
    margin-bottom: -50px;
  }
  .deal__content--img {
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
  }
  .deal__text {
    margin-top: 75px;
  }
  .deal__text h2 {
    font-size: 17px;
  }
  .deal__text {
    padding: 0;
  }
  .subscribe-text p {
    margin-top: -65px;
    padding-left: 105px;
    width: 100%;
  }
  .bg-subscribe {
    height: 230px;
  }
  .subscribe-email input {
    margin-top: 0px;
    margin-bottom: -10px;
    width: 80%;
    margin-left: 35px;
  }
  .subscribe-button button {
    width: 35%;
    margin-top: 20px;
    margin-left: 129px;
  }
  ::placeholder {
    text-align: center;
  }
  .footer__download--img {
    margin-left: 15px;
  }
  .footer__img--1 {
    width: 55%;
    margin-bottom: 15px;
  }
  .footer__img--2 {
    width: 55%;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .footer__account ul {
    font-size: 14px;
  }
  .footer__about ul {
    font-size: 14px;
  }
  .footer__contact--item h2,
  h3,
  h4 {
    font-size: 14px;
  }
  .footer__download--content p {
  font-size: 14px;
  }
  .footer__download--payment h1 {
  font-size: 16px;
  }
}
