@font-face {
  font-family: Poppins-B;
  src: url(./Font/Poppins-Bold.ttf);
}
@font-face {
  font-family: Poppins-R;
  src: url(./Font/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-L;
  src: url(./Font/Poppins-Light.ttf);
}
.header {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.header__logo img {
  width: 70%;
}
.nav ul li a {
  text-decoration: none;
  font-family: Poppins-B;
  color: #3c3c3c;
  padding: 0 20px;
}
.nav ul li a:hover {
  color: #5897fb;
}
.nav ul li {
  float: left;
  padding: 17px;
  list-style: none;
  line-height: 23px;
  font-size: 18px;
}
.header__action {
  line-height: 63px;
  font-size: 20px;
}
.header__action .icon {
  padding: 0 10px;
}
.header__action .icon:hover {
  color: #5897fb;
  cursor: pointer;
}
.sub-menu {
  display: none;
  position: absolute;
}
.nav li {
  position: relative;
}
.sub-menu {
  margin-left: -33px;
  padding-bottom: 15px;
  left: 0;
  width: 235px;
  background-color: #fff;
}
.sub-menu ul li a {
  font-size: 19px;
}
.sub-menu ul li {
  padding-bottom: 2px;
}
.nav li:hover .sub-menu {
  display: block;
  z-index: 9999;
}
.slider-img {
  float: right;
  margin-right: 100px;
}
.carousel-caption h1 {
  font-size: 30px;
  color: #222222;
  font-weight: 600;
  font-family: Poppins-R;
}
.carousel-caption h2 {
  font-size: 55px;
  color: #222222;
  font-weight: 600;
  font-family: Poppins-B;
  margin-bottom: -5px;
  margin-top: 20px;
}
.carousel-caption h3 {
  font-size: 65px;
  color: #5897fb;
  font-weight: 600;
  font-family: Poppins-B;
}
.carousel-caption p {
  font-size: 18px;
  color: #555454;
  font-family: Poppins-R;
}
.carousel-caption {
  text-align: left;
  margin-bottom: 100px;
  margin-left: -50px;
}
.carousel-inner {
  background-color: #f4f4f4;
  box-sizing: border-box;
  overflow: hidden;
}
.carousel-indicators li {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 1;
  margin: 0 5px;
  border: 1px solid #ddd;
}
.carousel-indicators .active {
  background-color: #5897fb;
  width: 25px;
  border-radius: 15px;
}
.carousel-control-prev i,
.carousel-control-next i {
  font-size: 30px;
}
.carousel-control-prev,
.carousel-control-next {
  text-decoration: none;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #5897fb;
  border-radius: 50%;
}
.carousel-control-next-icon {
  margin-right: -95px;
  width: 40px;
  height: 40px;
}
.carousel-control-prev-icon {
  margin-left: -95px;
  width: 40px;
  height: 40px;
}
.container-fluid {
  padding: 0;
}
.btn-header {
  border-radius: 100px;
  border: none;
  background-color: #5897fb;
  padding: 10px 50px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  margin-top: 15px;
}
.menu-toggle {
  display: none;
}
.menu-toggle {
  line-height: 63px;
  font-size: 30px;
}
@media screen and (min-width: 1400px) {
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) /*ipad pro*/ {
  .nav ul li {
    padding: 5px;
    line-height: 41px;
  }
  .header__logo {
    margin-left: 10px;
  }
  .header {
    justify-content: space-evenly;
  }
  .header__action {
    line-height: 56px;
  }
  .slider-img {
    margin-right: 50px;
  }
  .slider-img img {
    width: 70%;
    float: right;
  }
  .carousel-caption {
    width: 80%;
    margin-bottom: 0;
    margin-left: -60px;
  }
  .carousel-caption h1 {
    font-size: 24px;
  }
  .carousel-caption h2 {
    font-size: 45px;
    margin-bottom: 7px;
  }
  .carousel-caption h3 {
    font-size: 58px;
  }
  .carousel-caption p {
    font-size: 18px;
  }
  .btn-header {
    font-size: 14px;
    padding: 8px 30px;
    margin-top: 6px;
    margin-bottom: 35px;
  }
  .carousel-indicators li {
    width: 8px;
    height: 8px;
  }
  .carousel-control-next-icon {
    margin-right: -65px;
    width: 40px;
    height: 40px;
  }
  .carousel-control-prev-icon {
    margin-right: -45px;
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 740px) and (max-width: 1023px) /*Tablet + Ipad*/ {
  .nav ul {
    padding-left: 0;
  }
  .nav ul li {
    padding: 10px;
  }
  .nav ul li a {
    padding: 0;
    font-size: 16px;
  }
  .header__logo img {
    width: 100%;
  }
  .header__logo {
    width: 23%;
  }
  .header__action {
    font-size: 16px;
    line-height: 50px;
    margin-left: -15px;
  }
  .slider-img {
    margin-right: 50px;
  }
  .slider-img img {
    width: 50%;
    float: right;
  }
  .carousel-caption {
    width: 50%;
    margin-bottom: -15px;
    margin-left: -10px;
  }
  .carousel-caption h1 {
    font-size: 16px;
  }
  .carousel-caption h2 {
    font-size: 30px;
    margin-bottom: 7px;
  }
  .carousel-caption h3 {
    font-size: 32px;
  }
  .carousel-caption p {
    font-size: 14px;
  }
  .btn-header {
    font-size: 14px;
    padding: 8px 30px;
    margin-top: 6px;
    margin-bottom: 15px;
  }
  .carousel-indicators li {
    width: 8px;
    height: 8px;
  }
  .carousel-control-next-icon {
    margin-right: -35px;
    width: 30px;
    height: 30px;
  }
  .carousel-control-prev-icon {
    margin-right: -75px;
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 739px) /*Mobile*/ {
  .menu-toggle {
    display: block;
    line-height: 52px;
    margin-top: 6px;
  }
  .header__logo img {
    padding-left: 10px;
  }
  .nav ul {
    padding-top: 30px;
  }
  .header__action {
    display: none;
  }
  #menu {
    display: none;
    padding-left: 25px;
  }
  #toggle {
    margin-right: 20px;
  }
  .slider-img img {
    width: 80%;
    float: right;
  }
  .slider-img {
    margin-top: 250px;
    margin-right: 6px;
    width: 115%;
  }
  .carousel-caption {
    text-align: center;
    margin-left: 0;
    margin-bottom: 205px;
  }
  .carousel-caption h1 {
    font-size: 16px;
  }
  .carousel-caption h2 {
    font-size: 30px;
    margin-bottom: 7px;
  }
  .carousel-caption h3 {
    font-size: 32px;
  }
  .carousel-caption p {
    font-size: 14px;
  }
  .btn-header {
    font-size: 14px;
    padding: 8px 22px;
    margin-top: 6px;
    margin-bottom: 62px;
  }
  .carousel-indicators .active {
    width: 20px;
  }
}
